{% extends 'index.html.twig' %}


{% block title %} Add{% endblock %}

{% block personne %}
<h1> Add New CV  </h1>



    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


{% endblock %}
